* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

                                                /* Link Styling */
a {
    cursor: pointer;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:active {
    color: black;
    text-decoration: none;
}


                                               /* Main Screen Display */
.Screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Main Screen Separation - Main and Sidebar */
.SideBar {
    background-color: #6eb236;
    width: 16vw;
    display: flex;
    justify-content: center;
}
.MainView {
    background-color: rgb(243, 243, 243);
    width: 84vw;
    display: flex;
    flex-direction: column;
}

                                               /* SideBar Separation - Pages and UploadNew */
.Pages {
    height: 80%;
    font-size: larger;
}

                                               /* Pages Separation - Logo, Dashboard, NewSchedule */
.Logo {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo img {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard, .NewSchedule {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid #5f9b2f 1px;
    border-bottom: solid #5f9b2f 1px;
    width: 14vw;
}
.Dashboard a, .NewSchedule a {
    font-size: medium;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Dashboard img, .NewSchedule img {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.Dashboard p, .NewSchedule p {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 2%;
}

.Dashboard:last-child {
    border-bottom: none;
}


.SideBar a {
    margin: 0;
    padding: 0;
}

                                               /* MainView Separation - MainBox and ButtonBox */
.MainBox {
    background-color: rgb(248, 248, 248);
    height: 85%;
    width: 100%;
    margin: 0px;
}

#box-title {
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#box-title h2 {
    width: 40%;
    font-size: 150%;
    margin-left: 3%;
}

#box-title a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 60%;
    margin-right: 3%;
    background-color: #6eb236;
    padding: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    font-size: medium;
    color: white;
    font-weight: bold;
}


#upload-new p {
    font-size: medium;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#pdf-entry, #schedule-entry, #data_entry {
    height: 90%;
    border-top: solid #dddddd 1px;
    border-bottom: solid #dddddd 1px;
}
#pdf-entry p, #schedule-entry p {
    margin-left: 1%;
}
#pdf-header, #schedule-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
#pdf-header p,  #schedule-header p{
    height: 2%;
    padding: 1%;
    padding-left: 2%;
    width: 30%;
    color: grey;
    font-size: smaller;
}

#display-pdfs div, #display-schedule div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid #dddddd 1px;
}
#display-pdfs p, #display-schedule p {
    height: 2%;
    padding: 1%;
    width: 30%;    
    padding-left: 2%;
    font-size: large;
}
#display-pdfs a {
    height: 2%;
    padding: 1%;
    width: 30%;    
    padding-left: 2%;
    font-size: large;
}
#display-pdfs a:link {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
#display-pdfs a:visited {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
#display-pdfs a:hover {
    color: rgb(38, 38, 255);
    text-decoration: underline;
}
#display-pdfs a:active {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
.file {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid #dddddd 1px;
    background-color: white;

}
.file.selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid #dddddd 1px;
    background-color: #dddddd;
    border-radius: 5px;
}
.popup {
    position: absolute;
    width: 82%;
    height: 94.5%;
    transform: translate(1%, -90%);
    background-color: white;
    border: solid #dddddd 1px;
    border-radius: 5px;
    visibility: hidden;
}
.popup.open {
    visibility: visible;
}

#popup-header {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 12%;
}
#popup-header-mn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    padding-left: 2%;
    width: 50%;
    color: grey;
    font-size: smaller;
}
#popup-header-manu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    padding-left: 2%;
    width: 25%;
    color: grey;
    font-size: smaller;
}
#popup-header-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    padding-left: 2%;
    width: 25%;
    color: grey;
    font-size: smaller;

}
#popup-header-link a {
    padding: 0%;
    margin: 0%;
}
#popup-header p {
    padding: 0%;
    margin: 0%;
}
#p-header-link a:link {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
#popup-header-link a:visited {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
#popup-header-link a:hover {
    color: rgb(38, 38, 255);
    text-decoration: underline;
}
#popup-header-link a:active {
    color: rgb(15, 15, 110);
    text-decoration: underline;
}
.pdf_in_use {
    font-size: large;
    color: black;
}
#popup-body {
    height: 68%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
#popup-body label {
    width: 100%;
    color: grey;
    font-size: smaller;
    padding-bottom: 2%;
    text-transform: uppercase;
}
#popup-body-main {
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#popup-body-main div {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 24%;
} 
#popup-body-notes {
    height: 20%;
    display: flex;
    flex-direction: column;
}
#popup-body-notes label {
    padding-bottom: 1%;
}
#popup-body-notes-textarea {
    height: 60%;
    width: 97%;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-size: medium;
    max-width: 97%;
    min-width: 97%;
}
#popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;    
    padding-right: 2%;
    height: 15%;
}

                                               /* Button CSS */
.ButtonBox {
    background-color: rgb(248, 248, 248);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

button {
    background-color: #6eb236;
    padding: 1.5%;
    padding-right: 4%;
    padding-left: 4%;
    font-size: medium;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

                                               /* New Schedule Specific CSS */

#basic_info, #model_number_entry, #metadata_entry {
    display: flex;
    flex-direction: column;
    height: 20%;
    color: grey;
    font-size: smaller;
    background-color: white;
    border-bottom: solid #dddddd 1px;
}

#basic_info {
    border-top: solid #dddddd 1px;
}
#basic_info p, #model_number_entry p, #metadata_entry p {
    margin: 1%;
    margin-left: 2%;
}
#basic_info_content {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    color: grey;
    font-size: smaller;
}
#basic_info_content div {
    margin: 2%;
    width: 35%;
}
.basic_info input {
    height: 50%;
    width: 97%;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-size: medium;
}
#basic_input_link {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: medium;
}

#model_number_entry, #metadata_entry {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #dddddd 1px;
}

#new_spec_edit_mn, #new_spec_edit_md {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    margin-right: 2%;
}


.editModelNum {
    position: absolute;
    width: 82%;
    height: 94.5%;
    transform: translate(1%, -45%);
    background-color: white;
    border: solid #dddddd 1px;
    border-radius: 5px;
    visibility: hidden;
}
.editModelNum.open {
    visibility: visible;
}

.editMetaData {
    position: absolute;
    width: 82%;
    height: 94.5%;
    transform: translate(1%, -45%);
    background-color: white;
    border: solid #dddddd 1px;
    border-radius: 5px;
    visibility: hidden;
}
.editMetaData.open {
    visibility: visible;
}
.popup_header {
    height: 3%;
    color: grey;
    font-size: large;
    margin: 1%;
}
#popup_body_metadata {
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.md {
    height: 30%;
    width: 30%;
    margin: 1%;
}
.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.md input {
    height: 15%;
    width: 99.5%;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.option-list {
    margin: 1%;
    max-height: 60%;
    overflow-y: auto;
}